            /* Define the @font-face rule for the custom font */
            @font-face {
                font-family: 'CustomFont';
                src: url('KOMIKAX.ttf') format('truetype');
            }
            
            p {
                font-family: 'Roboto', sans-serif;
              }
              

            h1.KOMIKAX {
                font-family: 'CustomFont', sans-serif; /* Use the custom font as a fallback */
            }