/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

#adminForm {
    text-align: center;
    margin-top: 100px;
}

#secretPhrase {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

#submitBtn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles for the cookie bar */
.cookie-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #403738; /* Pink background color */
    padding: 10px;
    text-align: center;
    border-radius: 10px; /* Rounded edges */
    color: white; /* White text color */
  }
  
  /* Styles for the "Accept" button */
  #acceptButton {
    background-color: rgb(167, 167, 178); /* Blue background color */
    color: rgb(255, 255, 255); /* Purple text color */
    border: none;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded edges */
    cursor: pointer;
  }
  
  /* Styles for the footer */
.site-footer {
    background-color: #333; /* Footer background color */
    color: white; /* Text color */
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 15px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  /* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 20px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #303030; /* Color of the thumb (scrollbar handle) */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #575757; /* Color of the track (scrollbar background) */
  }
  

.chat {
    display: flex;
    height: 100vh;
  }
  
  .servers {
    width: 20%;
    background-color: #f0f0f0;
    overflow-y: auto;
    padding: 10px;
  }
  
  .server {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  