/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

#adminForm {
    text-align: center;
    margin-top: 100px;
}

#secretPhrase {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

#submitBtn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles for the cookie bar */
.cookie-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #403738; /* Pink background color */
    padding: 10px;
    text-align: center;
    border-radius: 10px; /* Rounded edges */
    color: white; /* White text color */
  }
  
  /* Styles for the "Accept" button */
  #acceptButton {
    background-color: rgb(167, 167, 178); /* Blue background color */
    color: rgb(255, 255, 255); /* Purple text color */
    border: none;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded edges */
    cursor: pointer;
  }
  
  